{:http/service {:port                        8082
                :db                          #ig/ref :db/pg
                :auth-keys                   #ig/ref :auth/keys
                :email-host                  #ig/ref :email/host
                :build                       :dev
                :token-valid-time            180 ;; in minutes
                :activation-token-valid-time 10 ;; in minutes
                :host                        "0.0.0.0"
                :server-address              "http://localhost:8888"
                :guest-products-limit        10
                :security-mechanisms         #ig/ref :secaas/security-mechanisms
                :threats                     #ig/ref :secaas/threats
                :couchbase                   #ig/ref :db/couchbase}

 :db/pg {:server-name       "localhost"
         :database-name     "taxonomy"
         :username          "test"
         :password          "test"
         :adapter           "postgresql"
         :port-number       15432
         :minimum-idle      3
         :maximum-pool-size 15}

 :db/couchbase {:bucket-name "products"
                :uri         "localhost"
                :username    "test"
                :password    "test"}

 :email/host {:host "smtp.gmail.com"
              :port 587
              :user ""
              :pass ""}

 :invalid-token/scheduler {:db     #ig/ref :db/pg
                           :hour   5
                           :minute 30
                           :enable true}

 :auth/keys {:public-key-file  "resources/public-key.pem"
             :private-key-file "resources/private-key.pem"}

 :taxonomy/products {:couchbase     #ig/ref :db/couchbase
                     :products-file "resources/products.edn"}

 :secaas/security-mechanisms {:file "resources/mechanisms.edn"}

 :secaas/threats {:file "resources/threats.edn"}}
